.footer {
  position: sticky;
}
.bg-subColor {
  background-color: $subColor; /* 你的 $subColor  #aa0601*/
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-contact {
  font-size: 36px;

  .material-icons-outlined {
    // icon 需單獨設定，不會自動繼承
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}

.footer-icon {
  max-width: 24px;
  @media (min-width: 768px) {
    max-width: 36px;
  }
}
